/* PAGE */
.cart-page {
  max-width: 1200px;
  margin: auto;
  padding: 24px;
  background: #f9fafb;
  min-height: 100vh;
}

/* HEADER */
.cart-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.cart-header h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

/* BACK */
.back-btn {
  background: none;
  border: none;
  color: #2563eb;
  font-size: 1rem;
  cursor: pointer;
}

/* LOADER */
.cart-loader {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LAYOUT */
.cart-wrapper {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

/* ITEMS */
.cart-items {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-item {
  display: flex;
  gap: 16px;
  padding: 16px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}

.cart-item img {
  width: 110px;
  height: 110px;
  border-radius: 12px;
  object-fit: cover;
}

/* INFO */
.cart-info {
  flex: 1;
}

.cart-info h4 {
  margin-bottom: 6px;
  font-size: 1rem;
}

.price {
  font-weight: 600;
  color: #111827;
}

.qty {
  font-size: 0.9rem;
  color: #6b7280;
  margin: 6px 0;
}

/* BUTTON GROUP */
.cart-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.qty-btn {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background: #f3f4f6;
  cursor: pointer;
  font-size: 1.2rem;
}

.remove-btn {
  padding: 8px 12px;
  border-radius: 8px;
  background: #fee2e2;
  color: #b91c1c;
  border: none;
  cursor: pointer;
}

/* SUMMARY */
.cart-summary {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  position: sticky;
  top: 90px;
}

.cart-summary h3 {
  margin-bottom: 16px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}

.summary-row.total {
  font-weight: 600;
  font-size: 1.1rem;
}

/* CTA */
.checkout-btn {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border-radius: 10px;
  border: none;
  margin-top: 14px;
  cursor: pointer;
}

.clearCart-btn {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background: #fef3c7;
  border: none;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .cart-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .cart-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cart-summary {
    position: static;
    width: 100%;
  }

  .cart-actions {
    justify-content: center;
  }
}
/* empty cart */
.empty-cart-content{
  display: flex;
  flex-direction: column;
  margin-top: 230px;
  gap: 16px;
  align-items: center;
}