/* Frontend/src/components/ProtectedRoute/ProtectedRoute.css */

.protected-loader {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9fafb;
}
